<div class="container" xmlns:th="http://www.thymeleaf.org">
    <form class="form-signin mt-xl-5" method="post" th:action="@{'/login'}">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="email" class="sr-only">Username</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="email@gmail.com" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <div th:text="${param.error}" class="text-danger"></div>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <a href="/register" class="btn btn-block btn-light">Register here</a>
</div>